{% extends "base.html" %}
{% block title %}
Загрузить фото профиля
{% endblock %}
{% block content %}
<div class="card my-4">
  <form enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <h3 class="card-header">Загрузить фото профиля</h3>
        <div class="card-body">
            <div class="h6">
              <div class="form-group">
                <h5>Фото: <br></h5>
                {{ form.photo }}
              </div>
            </div>
          <button type="submit" class="btn btn-primary">
            Загрузить
          </button>
        </div>
  </form>
</div>
{% endblock %}